<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>Our Todo List</title>
    <!-- Latest compiled and minified CSS -->
    

    <!-- Optional theme -->
    

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="Scripts/script/vendor/angularJS/angular.min.js"></script>
    <script src="Scripts/script/vendor/angularJS/angular-resource.min.js"></script>
    <script src="Scripts/script/vendor/angularJS/angular-route.min.js"></script>
    <script src="Scripts/script/app/app.js"></script>
</head>
<body ng-controller="TopMostController" ng-init="view=0">
    <div class="row">
        <div style="margin-bottom: 20px">
            <strong style="padding: 20px;font-size: 150%">Add a Task</strong>
            <a class="btn btn-success" type="button" href="#/Add">+</a>
        </div>
        <div ng-view>
        </div>
    </div>
    <div style="margin-top: 20px">
        <a class="btn btn-success" type="button" href="#/DetailView" ng-show="view==0" ng-click="view=1-view">Load Details View</a>
        <a class="btn btn-success" type="button" href="#/" ng-show="view==1" ng-click="view=1-view">Load Brief View</a>
        <input class="btn btn-success" type="button" value="Prev Page">
        <input class="btn btn-success" type="button" value="Next Page">
    </div>
</body>
</html>
