<!DOCTYPE root[<!ELEMENT Contestant ANY>
<!ATTLIST Contestant id ID #REQUIRED>
<!ELEMENT Contestants ANY>
<!ATTLIST Contestants id ID #REQUIRED>
 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1056" template="1051" sortOrder="0" createDate="2015-01-25T13:15:25" updateDate="2015-02-01T16:09:54" nodeName="en" urlName="en" writerName="Najim Ahmed" creatorName="Najim Ahmed" path="-1,1068" isDoc="" isDraft="">
    <umbTextPage id="1069" parentID="1068" level="2" writerID="0" creatorID="0" nodeType="1059" template="1054" sortOrder="0" createDate="2015-01-25T13:15:25" updateDate="2015-02-01T15:41:14" nodeName="Getting Started" urlName="getting-started" writerName="Najim Ahmed" creatorName="Najim Ahmed" path="-1,1068,1069" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title>page title in eng</title>
      <featuredPage>1</featuredPage>
      <image>/media/SampleImages/1063/pic01.jpg</image>
      <bodyText><![CDATA[<p>EnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglish</p>]]></bodyText>
    </umbTextPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title>English</title>
    <facebookLink>http://facebook.com/Umbraco</facebookLink>
    <twitterLink>http://twitter.com/UmbracoProject</twitterLink>
    <rssLink>http://feeds.feedburner.com/umbracoblog</rssLink>
    <googleLink>https://google.com/+Umbraco</googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader>This is some text that needs to pop</bannerHeader>
    <bannerSubheader>It will lead to a call-to-action, just click the button...</bannerSubheader>
    <bannerLinkText>You know you want to click me</bannerLinkText>
    <bannerBackgroundImage>/media/SampleImages/1008/banner.jpg</bannerBackgroundImage>
    <aboutTitle>What's this about?</aboutTitle>
    <aboutText><![CDATA[<p>EnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglishEnglish</p>]]></aboutText>
    <siteName>English</siteName>
    <byline>English</byline>
    <copyright>English</copyright>
  </umbHomePage>
  <umbHomePage id="1088" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-02-01T15:04:28" updateDate="2015-02-01T15:45:54" nodeName="bn" urlName="bn" path="-1,1088" isDoc="" nodeType="1056" creatorName="Najim Ahmed" writerName="Najim Ahmed" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <umbTextPage id="1089" parentID="1088" level="2" creatorID="0" sortOrder="0" createDate="2015-02-01T15:04:45" updateDate="2015-02-01T15:41:28" nodeName="Getting Started" urlName="getting-started" path="-1,1088,1089" isDoc="" nodeType="1059" creatorName="Najim Ahmed" writerName="Najim Ahmed" writerID="0" template="1054" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[page title in Bangla]]></title>
      <featuredPage>1</featuredPage>
      <image><![CDATA[/media/604/pic01.jpg]]></image>
      <bodyText><![CDATA[<p>BanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBangla</p>]]></bodyText>
    </umbTextPage>
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Bangla]]></title>
    <hideBanner>0</hideBanner>
    <aboutTitle><![CDATA[Bangla]]></aboutTitle>
    <aboutText><![CDATA[<p>BanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBanglaBangla</p>]]></aboutText>
    <siteName><![CDATA[Bangla]]></siteName>
    <byline><![CDATA[Bangla]]></byline>
    <copyright><![CDATA[Bangla]]></copyright>
  </umbHomePage>
</root>